/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */



/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */
* {
 margin: 0;
 padding: 0;
}
html,body{ 

	background:black;
	padding:0;
	margin:0;
}
#particles-js{

  background-color: black;

  background-size: cover;

  background-repeat: no-repeat;
}
