/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */



/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */
html,body{ 

	background:black;
	padding:0;
	margin:0;
}
#particles-js{
  width: 100vw;
  height: 100vh;
  background-color: black;

  background-size: cover;

  background-repeat: no-repeat;
}
